requests-html==0.10.0
After you've made changes in a file using the web editor on GitHub, you can create a co-authored commit by adding a Co-authored-by: trailer to the commit's message.

Collect the name and email address for each co-author. If a person chooses to keep their email address private, you should use their GitHub-provided no-reply email to protect their privacy.
Click Commit changes...
In the "Commit message" field, type a short, meaningful commit message that describes the changes you made.
In the text box below your commit message, add Co-authored-by: name <name@example.com> with specific information for each co-author. If you're adding multiple co-authors, give each co-author their own line and Co-authored-by: commit trailer.
Click Commit changes or Propose changes.
The new commit and message will appear on GitHub.com.

Test
